<%- include('./partials/header.ejs') %>

<main>
    <div id="appliedpolicies">
        <div class="blurred mb-5">
            <div class="container">
                <nav class="d-flex justify-content-between align-items-center p-3">
                    <h2 class="display-6 fw-bold text-white"><a href="/" class="text-decoration-none display-6 fw-bold text-white">PolicyGrab</a></h2>
                    <ul class="m-0 list-unstyled">
                        <li class='d-inline-block me-4 mb-0'><a href="/afterlogin?customerid=<%= locals.customerid %>" class="text-decoration-none lead text-danger fw-normal">Menu Page</a></li>
                        <li class='d-inline-block me-4 mb-0'><a href="/" class="text-decoration-none lead text-danger fw-normal">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <section id="appliedpoliciessection">
            <% if (locals.updated) { %>
            <div class="alert alert-success" role="alert" id="updatedbadge">
                Policy Updated Successfully!
            </div>
            <% } %>
            <% if (locals.deleted) { %>
            <div class="alert alert-success" role="alert" id="updatedbadge">
                Policy Deleted Successfully!
            </div>
            <% } %>
            <div class="container">
                <% if (locals.data.length > 0) { %>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-4">You have applied in the following policies:</h2>
                    </div>
                </div>
                <% for( let index = 0; index < (locals.data.length); index++ ) { %>
                <div class="row formdiv py-2 bg-warning-light">
                    <div class="col-1 d-flex justify-content-center align-items-center border-right">
                        <h4 class="m-2"><%= index + 1 %> </h4>
                    </div>
                    <div class="col-9 d-flex justify-content-center align-items-center border-right">
                        <h4 class="m-2">Policy ID: <%= data[index]._id %> </h4>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center border-right">
                        <h4 class="m-2"><a href="/updatepolicy?policyid=<%= data[index]._id %>" class=" text-decoration-none text-dark"><i class="bi bi-pen"></i></a></h4>
                    </div>
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <form action="/deletepolicy?policyid=<%= data[index]._id %>" method='post'>
                            <button type="submit" class="text-decoration-none border-0 bg-transparent p-0"><i class="bi bi-trash"
                                    style="font-size: 25px"></i></button>
                        </form>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-4">You have not applied in any policy:</h2>
                    </div>
                </div>
                <% } %>
            </div>
        </section>
    </div>
</main>


<%- include('./partials/footer.ejs') %>